<h2>Prueba NCT</h2>
<hr>
<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item">TODAS</li>
  <li class="list-group-item ">DEBITO</li>
  <li class="list-group-item ">CORRIENTE</li>
  <li class="list-group-item ">CREDITO</li>
</ul>

<hr>
<ul class="list-group">
  <li
    routerLink="create"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item ">NEW TRANSACTION</li>
</ul>
